################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OceanGameHT/FileContentIndex/2710ade9-f0ca-445c-a01b-07fefa88b7b1.vsidx
